
<div class="ballot-container">
  <div class="holder">
  <h1>Welcome <%= current_user.username %></h1>
  
  <h1>My Ballots</h1>
  </div>
  <div class="wrapper">
    <div class="new-ballots">
      <div class="new-title"> New Ballots </div>
      <%= link_to "California-Los Angeles-08/04/2014", ballots_path(ballotfilter: "08/04/2014", method: :get) %> <br>
      <%= link_to "California-Los Angeles-08/05/2015", ballots_path(ballotfilter: "08/05/2015", method: :get) %>
      
      <% @ballots.each do |d| %>
        <br><%= d.date %><br>
        <button> I want to vote like a Democrat! </button><br>
        <button> I want to vote like a Republican! </button> 
           

          <%= form_for @ballot do |f| %>
            <%= f.hidden_field :state, :value => d.state %>
            <%= f.hidden_field :city, :value => d.city%>
            <%= f.hidden_field :date, :value => d.date %>
            <%= f.submit  "I Actually Care About Each Issue!" %>
          <% end %>
      <% end %>
        <br>
        <br>
    </div>
    <div class="saved-ballots">
      <div class="saved-title"> My Saved Ballots </div>
      <% @current_user.ballots.each do |d| %>
        <li>
          <%= link_to d.date, saved_path(d) %>
          <button><%= link_to "X", d, method: :delete %></button>

        </li>
      <% end %>
    </div>
  </div>
</div>


 