<h1>Ballot <%= @ballot.date %>  <h1>

<% @propositions.each do |p| %>
<br>
  Proposition id:  <%= p.propid %> <br>
  What this means:  <%= p.whatitmeans %> <br>
   

  <div class="yes-cont">
    <%= form_for [p, @yesno] do |y| %>
        <%= y.hidden_field :ballot_id, :value => @ballot.id %>
        <%= y.hidden_field :choice, :value => "yes" %>      
        <%= y.submit "YES", class: "submit" %>
    <% end %>
  </div>

  <div class="no-cont">
    <%= form_for [p, @yesno] do |n| %>
      <%= n.hidden_field :ballot_id, :value => @ballot.id %>
      <%= n.hidden_field :choice, :value => "no" %>
      <%= n.submit "NO", class: "submit" %>
    <% end %>
  </div>

   <%  y = p.yesnos.where(:user_id => current_user, :ballot_id => @ballot.id).to_a.last %>
  <%  if y %>
      <%  if y.choice == 'yes' %>
         How to Vote: <%= p.howtovote %><br> Why?:<%= p.why %> 

      <% elsif y.choice == 'no' %>    
         How to Vote: <%= p.howtovoteno %><br> Why?:<%= p.whyno %>            
      <% else %>
        <h1></h1>
      <% end %>
    <% end %>
   


<%= form_for [p, @comment], html:{class: "container"} do |f| %>

    <fieldset class="inputs">
      <div id="form1">
      <%= f.hidden_field :ballot_id, :value => @ballot.id %>
      <%= f.text_field :text, class: "text-box", placeholder: "Say Something..." %>
      </div> 
    </fieldset>
    <fieldset class="actions">
      <%= f.submit "POST", class: "submit" %>
    </fieldset>
    <% end %>


 <% p.comments.where(:user_id => @current_user, :ballot_id => @ballot.id).each do |c| %>
  <%= c.text %>
  <% end %>


<% end %>



