<h1>Ballot <%= @ballot.date %>  <h1>

<% @propositions.each do |p| %>
<br>
  Proposition id:  <%= p.propid %> <br>
  What this means:  <%= p.whatitmeans %> <br>
  Is this good or bad: Good    Bad <br>
  How you should vote: <%= p.howtovote %><br> 
  Why: <%= p.why %> 


<%= form_for [p, @comment], html:{class: "container"} do |f| %>

    <fieldset class="inputs">
      <div id="form1">
      <%= f.hidden_field :ballot_id, :value => @ballot.id %>
      <%= f.text_field :text, class: "text-box", placeholder: "Say Something..." %>
      </div> 
    </fieldset>
    <fieldset class="actions">
      <%= f.submit "POST", class: "submit" %>
    </fieldset>
    <% end %>


 <% p.comments.where(:user_id => @current_user, :ballot_id => @ballot.id).each do |c| %>
  <%= c.text %>
  <% end %>


<% end %>


<%= link_to "Save", "#", :class => 'button_submit' %>
