<h1>Sign-Up</h1>

<%= form_for @user do |f| %>
  <%= f.text_field :username, placeholder: "WHO ARE YOU????" %> <br>
  <%= f.text_field :email, placeholder: "your super secret email address..  we will be spamming.." %> <br>
  <%= f.password_field :password, placeholder: "password ..." %> <br>
  <%= f.password_field :password_confirmation, placeholder: "... and again" %> <br>
  <%= f.submit  "Submit & Agree to Terms of Conditions" %>
<% end %>